/* ________________________________________ */
/* __________My Work section_______________ */
/* ________________________________________ */

.my-work {
  position: absolute;
  height: 100vh; /* Fallback for browsers that do not support Custom Properties */
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw;
  margin: 0;
  padding: 0;
  top: 0;
}
/* Project Holder _________________________*/
.project-holder {
  position: relative;
  margin: 0 auto;
  padding-top: 5vh;
  padding-bottom: 20vh;
  width: 95%;
  min-height: 100vh;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px, 1fr));
  justify-items: center;
  text-align: center;
}

/* disclaimer */
.disclaimer-container {
  position: relative;
  margin: 0 auto;
  text-align: center;
  width: 75%;
  height: 50%;
  display: flex;
  flex-direction: column;
  gap: 5%;
  justify-content: center;
  align-items: center;
  color: rgb(182, 182, 182);
}

/* Buttons _________________________*/
.my-work-bttn {
  position: relative;
  margin: 10px auto;
  width: 200px;
  transition: all 0.25s ease-in;
  color: var(--main-text-color);
  background: rgba(0, 193, 103, 0.281);
  padding: 0.5em;
  border-radius: 4px;
  border-left: transparent 2px solid;
  border-right: transparent 2px solid;
  border-top: var(--limeGreen) 2px solid;
  border-bottom: var(--limeGreen) 2px solid;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
  user-select: none;
}

@media screen and (max-width: 700px) {
  .disclaimer {
    font-size: 0.85em;
    white-space: nowrap;
  }
}
