/* Project _________________________ */

.project-card {
  transition: all var(--project-transition-time) ease-in;
  position: relative;
  z-index: 5;
  width: 350px;
  height: 200px;
  border-radius: 7px;
  background: var(--background);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
}

.project-card-img {
  position: absolute;
  left: 0;
  object-fit: cover;
  object-position: 50% 25%;
  z-index: 6;
  opacity: 0.75;
  filter: contrast(0.5) brightness(0.6) grayscale(50%);
}
.project-card-text {
  transition: all var(--project-transition-time) ease-in;
  position: absolute;
  width: 75%;
  z-index: 7;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.project-card-text h2 {
  font-weight: 500;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project-card-text h3 {
  font-weight: 300;
}
.project-card-text-horizontal-line {
  border-bottom: 1px solid rgba(255, 255, 255, 0.507);
  width: 70%;
}

/* Globals _________________________*/
.hidden {
  display: none;
}
