/* Lottie _________________________ */
.primary-lottie-anim {
  position: relative;
  height: 30vh;
  min-height: 25vw;
  margin: -10vw;
  z-index: -1;
}

/* Globals _________________________*/
.hidden {
  display: none;
}

@media screen and (max-width: 50px) {
  .primary-lottie-anim {
    height: 40vh;
    margin: -25vw;
  }
}
