/* Lottie _________________________ */
.primary-lottie-anim {
  position: relative;
  height: 25vh;
  min-height: 25vw;
  margin: -5vw;
  z-index: -1;
}

/* Globals _________________________*/
.hidden {
  display: none;
}
