:root {
  --project-transition-time: 0.25s;
  --tag-transition-time: 0.25s;
  --limeGreen: rgba(0, 193, 102, 1);
  --background: #2c3e50;
  --main-text-color: rgb(226, 226, 226);

  --main-tag-color: #56799c;
  --tag-text-color: #1d2a36;

  --search-input-color: #b1cae4;
  --search-input-text-color: #465d77;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: var(--background);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}
a {
  text-decoration: none;
}

/* ______________Globals___________________ */
.hidden {
  display: none;
}

/* ______________Animation_________________ */
@keyframes fadeInScaleIn {
  0% {
    opacity: 0;
    transform: scale(0.25, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes videoPanelSwipeIn {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* _____________Media Query________________ */

@media screen and (max-width: 1200px) {
  #project-holder {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 780px) {
  #tag-container {
    width: 93%;
  }
  .tag {
    font-size: 0.67em;
  }
  #project-holder {
    grid-template-columns: repeat(2, 1fr);
  }
  .project {
    width: 100%;
    height: 200px;
    font-size: 85%;
  }
  .about-me-footer-text {
    font-size: 100%;
  }
  .video-next-bttn {
    width: 70px;
    height: 50px;
    font-size: 100%;
  }
  .video-previous-bttn {
    width: 100px;
    height: 50px;
    font-size: 100%;
  }
  .award-lottie {
    position: absolute;
    width: 50px;
    height: 50px;
    transform: translate(40px, 150px);
  }
  .submit:active {
    transform: scale(1.1);
    border-left: var(--limeGreen) 2px solid;
    border-right: var(--limeGreen) 2px solid;
    border-top: var(--limeGreen) 2px solid;
    background: rgba(0, 193, 103, 0.521);
  }
  .about-me-bttn:active {
    transform: scale(1.1);
    border-left: var(--limeGreen) 2px solid;
    border-right: var(--limeGreen) 2px solid;
    border-top: var(--limeGreen) 2px solid;
    background: rgba(0, 193, 103, 0.521);
  }
  .about-me-bttn:active {
    transform: scale(1.1);
    border-left: var(--limeGreen) 2px solid;
    border-right: var(--limeGreen) 2px solid;
    border-top: var(--limeGreen) 2px solid;
    background: rgba(0, 193, 103, 0.521);
  }
  .tag:active {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15) inset,
      -1px -1px 3px rgba(255, 255, 255, 0.35) inset;
  }
  .tag:active::after {
    border-radius: 0%;
    left: 0%;
  }
  .project:active {
    box-shadow: 0 0 0 4px var(--limeGreen), 0 0 100px rgba(0, 0, 0, 0.5) inset,
      0 0 50px rgba(0, 0, 0, 0.5);
  }
  .project:active img {
    filter: blur(0px) contrast(1) brightness(1.25) grayscale(0%);
  }
  .project:active .project-text {
    opacity: 0;
  }
  .project-back-bttn:active {
    color: rgb(100, 100, 100);
    background: rgb(197, 197, 197);
    user-select: none;
  }
  .my-work-bttn:active {
    border-left: var(--limeGreen) 2px solid;
    border-right: var(--limeGreen) 2px solid;
    border-top: var(--limeGreen) 2px solid;
    background: rgba(0, 193, 103, 0.521);
    user-select: none;
  }
}

/* all hover elements */
@media (hover: hover) {
  .submit:hover {
    transform: scale(1.1);
    border-left: var(--limeGreen) 2px solid;
    border-right: var(--limeGreen) 2px solid;
    border-top: var(--limeGreen) 2px solid;
    background: rgba(0, 193, 103, 0.521);
  }
  .about-me-bttn:hover {
    transform: scale(1.1);
    border-left: var(--limeGreen) 2px solid;
    border-right: var(--limeGreen) 2px solid;
    border-top: var(--limeGreen) 2px solid;
    background: rgba(0, 193, 103, 0.521);
  }
  .about-me-bttn:hover {
    transform: scale(1.1);
    border-left: var(--limeGreen) 2px solid;
    border-right: var(--limeGreen) 2px solid;
    border-top: var(--limeGreen) 2px solid;
    background: rgba(0, 193, 103, 0.521);
  }
  .tag:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15) inset,
      -1px -1px 3px rgba(255, 255, 255, 0.35) inset;
  }
  .tag:hover::after {
    border-radius: 0%;
    left: 0%;
  }
  .project:hover {
    box-shadow: 0 0 0 4px var(--limeGreen), 0 0 100px rgba(0, 0, 0, 0.5) inset,
      0 0 50px rgba(0, 0, 0, 0.5);
  }
  .project:hover img {
    filter: contrast(1) brightness(1) grayscale(0%);
  }
  .project:hover .project-text {
    opacity: 0;
  }
  .project-back-bttn:hover {
    color: rgb(100, 100, 100);
    background: rgb(197, 197, 197);
  }
  .my-work-bttn:hover {
    border-left: var(--limeGreen) 2px solid;
    border-right: var(--limeGreen) 2px solid;
    border-top: var(--limeGreen) 2px solid;
    background: rgba(0, 193, 103, 0.521);
    user-select: none;
  }
  .tag-search-field-submit:hover {
    color: var(--limeGreen);
  }
  .company-logo-holder:hover .company-logo-object {
    opacity: 1;
    filter: grayscale(0) invert(0);
  }
}
