:root {
  --project-transition-time: 0.25s;
  --tag-transition-time: 0.25s;
  --limeGreen: rgba(0, 193, 102, 1);
  --background: #2c3e50;
  --main-text-color: rgb(226, 226, 226);

  --main-tag-color: #56799c;
  --tag-text-color: #1d2a36;

  --search-input-color: #b1cae4;
  --search-input-text-color: #465d77;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background: var(--background);
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
/* ________________________________________ */
/* __________About Me section_______________ */
/* ________________________________________ */

/* section _________________________*/
.about-me {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}
.about-me-section {
  scroll-snap-align: center;
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: grid;
  justify-items: center;
  align-items: center;
}

/* My name is _________________________*/
.my-name-is {
  position: relative;
  z-index: 2;
  color: var(--main-text-color);
  background: var(--limeGreen);
  width: 250px;
  height: 150px;
  border-radius: 20px;
  line-height: 10px;
  border: 5px white solid;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.2);
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-self: center;
  align-self: center;
}
.my-name-is h1 {
  font-weight: 600;
}
.my-name-is h2 {
  font-weight: 400;
}
.my-name-is::after {
  content: "Rybread";
  color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  font-size: 350%;
  position: relative;
  background: white;
  width: inherit;
  height: 50px;
  top: -15%;
  font-family: "Caveat", cursive;
}

/* Textbox _________________________*/
.about-me-container {
  position: relative;
  width: 75%;
  height: 100%;
  display: grid;
  grid-template-rows: auto;
  justify-items: center;
  align-content: center;
  gap: 10%;
  z-index: 2;
  text-align: center;
}
.about-me-container h3 {
  width: 100%;
  color: var(--main-text-color);
  background: var(--background);
  border: 0.15em solid var(--limeGreen);
  font-weight: 400;
  align-self: center;
  padding: 1em;
  border-radius: 0.5em;
}

/* Buttons _________________________*/
.bttn-holder {
  position: relative;
  z-index: 2;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
}
.about-me-bttn {
  transition: all 0.25s ease-in;
  color: var(--main-text-color);
  background: rgba(0, 193, 103, 0.281);
  padding: 0.5em;
  border-radius: 4px;
  border-left: transparent 2px solid;
  border-right: transparent 2px solid;
  border-top: var(--limeGreen) 2px solid;
  border-bottom: var(--limeGreen) 2px solid;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 500;
  user-select: none;
}

/* Icons _________________________*/
.about-me-container i {
  animation: chevronDownAnim 2s ease infinite;
  position: absolute;
  bottom: 10%;
  font-size: 200%;
  text-align: center;
  color: rgb(182, 182, 182);
}

/* Video _________________________*/
.about-me-video {
  position: absolute;
  height: 100vh;
  opacity: 1;
  z-index: 1;
}

/* Image _________________________*/
.about-me-image {
  position: fixed;
  object-fit: cover;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 100vmax;
  opacity: 1;
  z-index: 1;
}

/* Contact Me _________________________*/
#contact-me-holder {
  position: absolute;
  scroll-snap-align: center;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  justify-items: center;
  align-content: center;
  color: var(--main-text-color);
  text-align: center;
  z-index: 1;
  background: linear-gradient(180deg, #2c3e50, #202b36);
}
.email,
.message {
  font-family: "Poppins", sans-serif;
  font-size: 1em;
  width: 75vw;
  padding: 0.5em;
  margin-top: 10px;
  margin-bottom: 10px;
  border: none;
  background: #6e92b4;
  color: var(--main-text-color);
  outline: none;
  text-align: center;
}
.email::placeholder,
.message::placeholder {
  color: rgb(190, 190, 190);
}
.submit {
  transition: all 0.25s ease-in;
  color: var(--main-text-color);
  background: rgba(0, 193, 103, 0.281);
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  border-radius: 4px;
  border-left: transparent 2px solid;
  border-right: transparent 2px solid;
  border-top: var(--limeGreen) 2px solid;
  border-bottom: var(--limeGreen) 2px solid;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 500;
  font-size: 100%;
  user-select: none;
}
.return-to-top {
  text-align: center;
  position: absolute;
  bottom: 2%;
  user-select: none;
  cursor: pointer;
  font-size: 100%;
  color: rgb(182, 182, 182);
  z-index: 2;
}

/* ________________________________________ */
/* __________My Work section_______________ */
/* ________________________________________ */

/* Backgrounds _________________________ */
.bg {
  animation: slide 5s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, rgba(0, 193, 103, 0.411) 50%, #2c3e50 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.5;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -100;
}
.bg2 {
  animation-direction: alternate-reverse;
  animation-duration: 6s;
}
.bg3 {
  animation-duration: 7s;
}
.bg4 {
  animation-duration: 10s;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}

/* Tags _________________________ */
#tag-container {
  padding-top: 10px;
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
}
.tag {
  color: var(--main-text-color);
  transition: all var(--tag-transition-time) ease-out;
  position: relative;
  height: 30px;
  background: var(--main-tag-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-weight: 300;
  overflow: hidden;
  user-select: none;
  cursor: pointer;
  white-space: nowrap;
  font-weight: 400;
}
.tag::after {
  content: "";
  transition: all var(--tag-transition-time) ease-out;
  position: absolute;
  background: var(--limeGreen);
  width: 100%;
  height: 100px;
  border-radius: 100%;
  mix-blend-mode: overlay;
  left: -100%;
  cursor: pointer;
}
.tagToggled {
  background: var(--limeGreen);
}

.tag-search-field {
  transition: all var(--tag-transition-time) ease;
  position: relative;
  height: 30px;
  transform: scale(1);
  grid-column: 4/6;

  background: var(--main-tag-color);

  border-radius: 5px;

  display: flex;
  align-items: center;
}
.tag-search-field-hidden {
  transform: scale(0);
}
.tag-search-field input {
  position: relative;
  margin: 1%;
  height: 20px;
  width: 100%;
  outline: none;
  border: none;
  border-radius: inherit;
  background: #6e92b4;
  color: var(--main-text-color);
  text-align: center;
}
.tag-search-field-submit {
  transition: all var(--main-transition-time) ease-in-out;
  margin: 3%;
  display: flex;
  align-items: center;
  color: var(--main-text-color);
  cursor: pointer;
}

/* Project _________________________ */
#project-holder {
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 4%;
  margin-bottom: 4%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  word-wrap: nowrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  align-content: center;
  grid-gap: 2em;
}
.project {
  /* animation: fadeInScaleIn 0.25s ease-in-out; */
  transition: all var(--project-transition-time) ease-out;
  /*   makes it so this project only takes up 1 grid space */
  grid-area: span 1;

  /*standard poster size aspect is 4x6 */
  width: 350px;
  height: 450px;
  margin-top: 10px;
  padding: 0;

  /*   this sets the border so that both the inside and outside can have a border radius */
  box-shadow: 0 0 0 2px rgb(200, 200, 200), 0 0 100px rgba(0, 0, 0, 0.5) inset,
    0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 7px;

  /*   project color properties */
  background: rgb(230, 230, 230);

  /*   internal project styling   */
  overflow: hidden;
  backface-visibility: hidden;
  cursor: pointer;
  transform: scale(1);
  user-select: none;
}
.project-gradient {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  z-index: 0;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
}
.project-text-and-img-holder {
  width: inherit;
  height: inherit;
  user-select: none;
}
.project img {
  transition: all var(--project-transition-time) ease-out;
  /*   sets the image to fill the entire project and crop excess */
  height: 100%;
  width: 100%;
  object-fit: cover;

  /*   image adjustments */
  filter: contrast(0.5) brightness(1.25) grayscale(50%);
  mix-blend-mode: multiply;
  user-select: none;
}
.project-text {
  transition: all var(--project-transition-time) ease-out;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  line-height: 30px;
  width: 90%;
  z-index: 1;
  user-select: none;
}
.project h2 {
  transition: all var(--project-transition-time) ease-out;
  position: relative;
  font-weight: 400;
  color: white;
  grid-row: 2/3;
}
.project h3 {
  transition: all var(--project-transition-time) ease-out;
  position: relative;
  font-weight: 200;
  font-size: 75%;
  color: white;
  grid-row: 3/3;
}

/* award lottie */
.award-lottie {
  width: 125px;
  height: 125px;
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
  z-index: 20;
}
/* Video Panel _________________________ */
.video-panel {
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  z-index: 10;
  width: 90%;
  background: linear-gradient(0deg, #1d3042, #48525c);
  display: grid;
  justify-items: center;
  align-content: center;
  border-radius: 10px;
}
.video-panel-bg {
  transition: all 0.5s ease-in-out;
  position: fixed;
  top: 0;
  transform: translate(0%, 0%);
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background: #2c3e50ce;
  opacity: 1;
}
.video-panel-bg-hidden {
  transition: all 0.5s ease-in-out;
  transform: translate(100%, 0%);
  opacity: 0;
}
.video-panel-iframe {
  transition: all 1s ease-in-out;
  width: 90%;
  border: none;
  margin-top: 2%;
}
.video-bttn-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-content: center;
  margin-bottom: 5%;
}
.video-next-bttn {
  width: 100px;
  height: 50px;
  color: var(--main-text-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  font-size: 150%;
  user-select: none;
  cursor: pointer;
}
.video-previous-bttn {
  width: 150px;
  height: 50px;
  color: var(--main-text-color);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  font-size: 150%;
  user-select: none;
  cursor: pointer;
}
.return-to-projects {
  text-align: center;
  position: absolute;
  top: 2%;
  cursor: pointer;
  font-size: 100%;
  color: rgb(182, 182, 182);
}

/* Lottie _________________________ */
.primary-lottie-anim {
  position: relative;
  margin: 0 auto;
  width: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Buttons _________________________*/
.my-work-bttn {
  position: relative;
  margin: 10px auto;
  width: 200px;
  transition: all 0.25s ease-in;
  color: var(--main-text-color);
  background: rgba(0, 193, 103, 0.281);
  padding: 0.5em;
  border-radius: 4px;
  border-left: transparent 2px solid;
  border-right: transparent 2px solid;
  border-top: var(--limeGreen) 2px solid;
  border-bottom: var(--limeGreen) 2px solid;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
  font-weight: 500;
  user-select: none;
}

/* ________________________________________ */
/* ______________Globals___________________ */
/* ________________________________________ */
.hidden {
  display: none;
}

/* ________________________________________ */
/* ______________Animation_________________ */
/* ________________________________________ */
@keyframes fadeInScaleIn {
  0% {
    opacity: 0;
    transform: scale(0.25, 0);
  }
  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes chevronDownAnim {
  0% {
    opacity: 0;
    transform: translateY(0%);
  }
  25% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 0;
    transform: translateY(250%);
  }
}
@keyframes videoPanelSwipeIn {
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

/* ________________________________________ */
/* _____________Media Query________________ */
/* ________________________________________ */

@media screen and (max-width: 1200px) {
  #project-holder {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 780px) {
  #tag-container {
    width: 93%;
  }
  .tag {
    font-size: 0.67em;
  }
  .primary-lottie-anim {
    width: 40vh;
    top: 5vh;
  }
  #project-holder {
    grid-template-columns: repeat(2, 1fr);
  }
  .project {
    width: 150px;
    height: 250px;
  }
  .submit:active {
    transform: scale(1.1);
    border-left: var(--limeGreen) 2px solid;
    border-right: var(--limeGreen) 2px solid;
    border-top: var(--limeGreen) 2px solid;
    background: rgba(0, 193, 103, 0.521);
  }
  .about-me-bttn:active {
    transform: scale(1.1);
    border-left: var(--limeGreen) 2px solid;
    border-right: var(--limeGreen) 2px solid;
    border-top: var(--limeGreen) 2px solid;
    background: rgba(0, 193, 103, 0.521);
  }
  .about-me-bttn:active {
    transform: scale(1.1);
    border-left: var(--limeGreen) 2px solid;
    border-right: var(--limeGreen) 2px solid;
    border-top: var(--limeGreen) 2px solid;
    background: rgba(0, 193, 103, 0.521);
  }
  .tag:active {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15) inset,
      -1px -1px 3px rgba(255, 255, 255, 0.35) inset;
  }
  .tag:active::after {
    border-radius: 0%;
    left: 0%;
  }
  .project:active {
    box-shadow: 0 0 0 4px var(--limeGreen), 0 0 100px rgba(0, 0, 0, 0.5) inset,
      0 0 50px rgba(0, 0, 0, 0.5);
  }
  .project:active img {
    filter: blur(0px) contrast(1) brightness(1.25) grayscale(0%);
  }
  .project:active .project-text {
    opacity: 0;
  }
  .project-back-bttn:active {
    color: rgb(100, 100, 100);
    background: rgb(197, 197, 197);
    user-select: none;
  }
  .my-work-bttn:active {
    border-left: var(--limeGreen) 2px solid;
    border-right: var(--limeGreen) 2px solid;
    border-top: var(--limeGreen) 2px solid;
    background: rgba(0, 193, 103, 0.521);
    user-select: none;
  }
}

/* all hover elements */
@media (hover: hover) {
  .submit:hover {
    transform: scale(1.1);
    border-left: var(--limeGreen) 2px solid;
    border-right: var(--limeGreen) 2px solid;
    border-top: var(--limeGreen) 2px solid;
    background: rgba(0, 193, 103, 0.521);
  }
  .about-me-bttn:hover {
    transform: scale(1.1);
    border-left: var(--limeGreen) 2px solid;
    border-right: var(--limeGreen) 2px solid;
    border-top: var(--limeGreen) 2px solid;
    background: rgba(0, 193, 103, 0.521);
  }
  .about-me-bttn:hover {
    transform: scale(1.1);
    border-left: var(--limeGreen) 2px solid;
    border-right: var(--limeGreen) 2px solid;
    border-top: var(--limeGreen) 2px solid;
    background: rgba(0, 193, 103, 0.521);
  }
  .tag:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15) inset,
      -1px -1px 3px rgba(255, 255, 255, 0.35) inset;
  }
  .tag:hover::after {
    border-radius: 0%;
    left: 0%;
  }
  .project:hover {
    box-shadow: 0 0 0 4px var(--limeGreen), 0 0 100px rgba(0, 0, 0, 0.5) inset,
      0 0 50px rgba(0, 0, 0, 0.5);
  }
  .project:hover img {
    filter: contrast(1) brightness(1) grayscale(0%);
  }
  .project:hover .project-text {
    opacity: 0;
  }
  .project-back-bttn:hover {
    color: rgb(100, 100, 100);
    background: rgb(197, 197, 197);
  }
  .my-work-bttn:hover {
    border-left: var(--limeGreen) 2px solid;
    border-right: var(--limeGreen) 2px solid;
    border-top: var(--limeGreen) 2px solid;
    background: rgba(0, 193, 103, 0.521);
    user-select: none;
  }
  .tag-search-field-submit:hover {
    color: var(--limeGreen);
  }
}
